.events.layout {
    display: flex;
    justify-content: center;
    width: 100%;

    span:not(.tribe-events-ajax-loading) {
        display: block;
    }
}
#tribe-events {
    max-width: $max-row-container-width;
    padding: 0 $spacer-xs;
    width: 100%;
}
.tribe-events-button {
    background-color: $color-primary!important;
}